USE [quanlykhohang]
GO
/****** Object:  Table [dbo].[ChatHistories]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NOT NULL,
	[ContextUsed] [nvarchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
	[MaNguoiDung] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonNhap]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonNhap](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaChiTiet] [nvarchar](50) NOT NULL,
	[MaDonNhap] [nvarchar](50) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[GiaNhap]) PERSISTED,
	[MaVach] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonXuat]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonXuat](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaChiTiet] [nvarchar](50) NOT NULL,
	[MaDonXuat] [nvarchar](50) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[GiaBan]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonNhapHang]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonNhapHang](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaDonNhap] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[NgayDatHang] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonXuatHang]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonXuatHang](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaDonXuat] [nvarchar](50) NOT NULL,
	[NgayXuatHang] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaKhachHang] [nvarchar](50) NULL,
	[TenKhachHang] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[VatPercent] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[MaDonHang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaKho] [nvarchar](50) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayNhapGanNhat] [datetime] NULL,
	[NgayBanGanNhat] [datetime] NULL,
	[NgayTao] [datetime] NULL,
	[SoLuongSapHetHan] [int] NULL,
	[TenSanPham] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearnedPatterns]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnedPatterns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](max) NOT NULL,
	[Pattern] [nvarchar](max) NULL,
	[LearnCount] [int] NOT NULL,
	[LastUsed] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuXuatNhap]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuXuatNhap](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaGiaoDich] [nvarchar](50) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[LoaiGiaoDich] [nvarchar](50) NULL,
	[SoLuong] [int] NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[MatKhauHash] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](255) NOT NULL,
	[NguoiLienHe] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/24/2025 10:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[MaSKU] [nvarchar](50) NOT NULL,
	[LoaiSanPham] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[SoLuongXuat] [int] NOT NULL,
	[MaVach] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaSKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatHistories] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ChatHistories] ADD  DEFAULT ('guest') FOR [MaNguoiDung]
GO
ALTER TABLE [dbo].[DonNhapHang] ADD  DEFAULT (getdate()) FOR [NgayDatHang]
GO
ALTER TABLE [dbo].[DonNhapHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DonNhapHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonXuatHang] ADD  DEFAULT (getdate()) FOR [NgayXuatHang]
GO
ALTER TABLE [dbo].[DonXuatHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DonXuatHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonXuatHang] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[DonXuatHang] ADD  DEFAULT ((0)) FOR [VatPercent]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT (getdate()) FOR [NgayNhapGanNhat]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LearnedPatterns] ADD  DEFAULT ((0)) FOR [LearnCount]
GO
ALTER TABLE [dbo].[LearnedPatterns] ADD  DEFAULT (getdate()) FOR [LastUsed]
GO
ALTER TABLE [dbo].[LichSuXuatNhap] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((10)) FOR [SoLuongNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongXuat]
GO
ALTER TABLE [dbo].[ChiTietDonNhap]  WITH CHECK ADD FOREIGN KEY([MaDonNhap])
REFERENCES [dbo].[DonNhapHang] ([MaDonNhap])
GO
ALTER TABLE [dbo].[ChiTietDonNhap]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonXuat]  WITH CHECK ADD FOREIGN KEY([MaDonXuat])
REFERENCES [dbo].[DonXuatHang] ([MaDonXuat])
GO
ALTER TABLE [dbo].[ChiTietDonXuat]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_DonNhapHang_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[DonNhapHang] CHECK CONSTRAINT [FK_DonNhapHang_NCC]
GO
ALTER TABLE [dbo].[DonNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_DonNhapHang_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonNhapHang] CHECK CONSTRAINT [FK_DonNhapHang_NguoiDung]
GO
ALTER TABLE [dbo].[DonXuatHang]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonXuatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonXuatHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonXuatHang] CHECK CONSTRAINT [FK_DonXuatHang_KhachHang]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[LichSuXuatNhap]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonNhapHang]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Hoàn thành' OR [TrangThai]=N'Chờ duyệt'))
GO
ALTER TABLE [dbo].[DonXuatHang]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Hoàn thành' OR [TrangThai]=N'Chờ duyệt'))
GO
ALTER TABLE [dbo].[LichSuXuatNhap]  WITH CHECK ADD CHECK  (([LoaiGiaoDich]=N'Xuất kho' OR [LoaiGiaoDich]=N'Nhập kho'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='NhanVien' OR [VaiTro]='QuanLy' OR [VaiTro]='Admin'))
GO
